:root {
  --color-text: #F6F6F6;
  --font-primary: 'Source Code Pro', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  font-family: var(--font-primary), Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  text-rendering: optimizeSpeed;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  font-weight: 400;
}

.leaflet-control-attribution {
  display: none !important;
}

.signature {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}