.contact {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.contactTitle {
    margin-top: auto;
}

.contactTitleBold {
    font-weight: 800;
}

.contactSubtitle {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
}